body {
    display: grid;
    flex-direction: column;

    header {
        background-color: var(--color-pri);
        background: linear-gradient(180deg, var(--color-pri), white 115%);
        padding: 2rem;

        a {
            img {
                height: 8rem;
            }
        }
    }

    main {
        justify-self: center;
        display: grid;
        align-items: center;
        justify-items: center;
        padding: 5rem 0 0;

        p {
            grid-area: 1 / 1;
            font-size: 5rem;
            justify-self: start;
            font-weight: bold;

            &.about_me {
                grid-area: 3 / 1;
                width: 78rem;
                text-align: justify;
            }
        }

        h1 {
            color: white;
            -webkit-text-stroke: 0.7rem var(--color-text-pri);
            grid-area: 2 / 1;
            font-family: Arial;
            text-align: center;
            font-size: 15rem;
            letter-spacing: -0.6rem;
        }
    }
}